/*
 * Local TOC styling.
 */

.technote-toc-container {
  line-height: 1.2;
  /* Spacing between items in the toc */
  --technote-toc-container-spacing: var(--tn-space-xs-fixed);
}

.technote-toc-container a {
  text-decoration: none;
}

.technote-toc-container a:hover {
  text-decoration: underline;
}

.technote-toc-container ul {
  list-style-type: none;
  padding-left: var(--tn-space-xs-fixed);
  margin-left: var(--tn-space-xxs-fixed);
  border-left: 1.5px solid black;
  margin-top: var(--technote-toc-container-spacing);
}

/* Root-level sections aren't indented */
.technote-toc-container > ul {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
  margin-top: 0;
}

.technote-toc-container li {
  margin-bottom: var(--technote-toc-container-spacing);
}
