html {
  box-sizing: border-box;
}

/*
 * Inherit border-box sizing from html
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /*
   * Reinforce that we're respecting the user's ability to set a default
   * font size. The rem unit now becomes relative to this.
   * Flexible Typesetting, Tim Brown, ch 2 and 4
   */
  font-size: 1.1rem;

  /*
   * Color design tokens.
   *
   * These are based on GitHub Primer.
   * https://primer.style/prism/local/a4751264-de23-430e-a2fc-669488065638/scale/c2a0938a-e1dc-4b20-a07b-e2778ae57f41
   */
  --tn-color-black: #1b1f24;
  --tn-color-white: #ffffff;

  --tn-color-neutral-000: #f6f8fa;
  --tn-color-neutral-100: #eaeef2;
  --tn-color-neutral-200: #d0d7de;
  --tn-color-neutral-300: #afb8c1;
  --tn-color-neutral-400: #8c959f;
  --tn-color-neutral-500: #6e7781;
  --tn-color-neutral-600: #57606a;
  --tn-color-neutral-700: #424a53;
  --tn-color-neutral-800: #32383f;
  --tn-color-neutral-900: #24292f;

  --tn-color-blue-000: #ddf4ff;
  --tn-color-blue-100: #b6e3ff;
  --tn-color-blue-200: #80ccff;
  --tn-color-blue-300: #54aeff;
  --tn-color-blue-400: #218bff;
  --tn-color-blue-500: #0969da;
  --tn-color-blue-600: #0550ae;
  --tn-color-blue-700: #033d8b;
  --tn-color-blue-800: #0a3069;
  --tn-color-blue-900: #002155;

  --tn-color-green-000: #dafbe1;
  --tn-color-green-100: #aceebb;
  --tn-color-green-200: #6fdd8b;
  --tn-color-green-300: #4ac26b;
  --tn-color-green-400: #2da44e;
  --tn-color-green-500: #1a7f37;
  --tn-color-green-600: #116329;
  --tn-color-green-700: #044f1e;
  --tn-color-green-800: #003d16;
  --tn-color-green-900: #002d11;

  --tn-color-yellow-000: #fff8c5;
  --tn-color-yellow-100: #fae17d;
  --tn-color-yellow-200: #eac54f;
  --tn-color-yellow-300: #d4a72c;
  --tn-color-yellow-400: #bf8700;
  --tn-color-yellow-500: #9a6700;
  --tn-color-yellow-600: #7d4e00;
  --tn-color-yellow-700: #633c01;
  --tn-color-yellow-800: #4d2d00;
  --tn-color-yellow-900: #3b2300;

  --tn-color-orange-000: #fff1e5;
  --tn-color-orange-100: #ffd8b5;
  --tn-color-orange-200: #ffb77c;
  --tn-color-orange-300: #fb8f44;
  --tn-color-orange-400: #e16f24;
  --tn-color-orange-500: #bc4c00;
  --tn-color-orange-600: #953800;
  --tn-color-orange-700: #762c00;
  --tn-color-orange-800: #5c2200;
  --tn-color-orange-900: #471700;

  --tn-color-red-000: #ffebe9;
  --tn-color-red-100: #ffcecb;
  --tn-color-red-200: #ffaba8;
  --tn-color-red-300: #ff8182;
  --tn-color-red-400: #fa4549;
  --tn-color-red-500: #cf222e;
  --tn-color-red-600: #a40e26;
  --tn-color-red-700: #82071e;
  --tn-color-red-800: #660018;
  --tn-color-red-900: #4c0014;

  --tn-color-red-000: #fbefff;
  --tn-color-red-100: #ecd8ff;
  --tn-color-red-200: #d8b9ff;
  --tn-color-red-300: #c297ff;
  --tn-color-red-400: #a475f9;
  --tn-color-red-500: #8250df;
  --tn-color-red-600: #6639ba;
  --tn-color-red-700: #512a97;
  --tn-color-red-800: #3e1f79;
  --tn-color-red-900: #2e1461;

  --tn-color-pink-000: #ffeff7;
  --tn-color-pink-100: #ffd3eb;
  --tn-color-pink-200: #ffadda;
  --tn-color-pink-300: #ff80c8;
  --tn-color-pink-400: #e85aad;
  --tn-color-pink-500: #bf3989;
  --tn-color-pink-600: #99286e;
  --tn-color-pink-700: #772057;
  --tn-color-pink-800: #611347;
  --tn-color-pink-900: #4d0336;

  --tn-color-coral-000: #fff0eb;
  --tn-color-coral-100: #ffd6cc;
  --tn-color-coral-200: #ffb4a1;
  --tn-color-coral-300: #fd8c73;
  --tn-color-coral-400: #ec6547;
  --tn-color-coral-500: #c4432b;
  --tn-color-coral-600: #9e2f1c;
  --tn-color-coral-700: #801f0f;
  --tn-color-coral-800: #691105;
  --tn-color-coral-900: #510901;

  /*
   * Spacing values in em units
   */
  --tn-space-unit: 1em;
  --tn-space-xxxs: calc(0.25 * var(--tn-space-unit));
  --tn-space-xxs: calc(0.375 * var(--tn-space-unit));
  --tn-space-xs: calc(0.5 * var(--tn-space-unit));
  --tn-space-sm: calc(0.75 * var(--tn-space-unit));
  --tn-space-md: calc(1.25 * var(--tn-space-unit));
  --tn-space-lg: calc(2 * var(--tn-space-unit));
  --tn-space-xl: calc(3.25 * var(--tn-space-unit));
  --tn-space-xxl: calc(5.25 * var(--tn-space-unit));
  --tn-space-xxxl: calc(8.5 * var(--tn-space-unit));

  /*
    * Fixed spacing
    * These aren't affected by --space-unit or the root font size
    */
  --tn-space-unit-fixed: 1rem;
  --tn-space-xxxs-fixed: calc(0.25 * var(--tn-space-unit-fixed));
  --tn-space-xxs-fixed: calc(0.375 * var(--tn-space-unit-fixed));
  --tn-space-xs-fixed: calc(0.5 * var(--tn-space-unit-fixed));
  --tn-space-sm-fixed: calc(0.75 * var(--tn-space-unit-fixed));
  --tn-space-md-fixed: calc(1.25 * var(--tn-space-unit-fixed));
  --tn-space-lg-fixed: calc(2 * var(--tn-space-unit-fixed));
  --tn-space-xl-fixed: calc(3.25 * var(--tn-space-unit-fixed));
  --tn-space-xxl-fixed: calc(5.25 * var(--tn-space-unit-fixed));
  --tn-space-xxxl-fixed: calc(8.5 * var(--tn-space-unit-fixed));

  /*
   * Border radius
   */
  --tn-border-radius-0: 0px;
  --tn-border-radius-1: 4px;
  --tn-border-radius-2: 7px;

  /*
   * Typographic design tokens.
   */
  --tn-component-h1-size: 3.052rem;
  --tn-component-h2-size: 2.441rem;
  --tn-component-h3-size: 1.563rem;
  --tn-component-h4-size: 1.25rem;
  --tn-component-h5-size: 1rem;
  --tn-component-h6-size: 0.8rem;

  --tn-component-h1-weight: normal;
  --tn-component-h2-weight: normal;
  --tn-component-h3-weight: bold;
  --tn-component-h4-weight: bold;
  --tn-component-h5-weight: bold;
  --tn-component-h6-weight: bold;

  --tn-component-text-color: var(--tn-color-black);
}

/*
 * Typography.
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  color: var(--tn-component-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Put header vertically closer to its own section. */
  margin: 1.5em 0 0.8em;
  line-height: 1.2;
}

h1 {
  font-size: var(--tn-component-h1-size);
  font-weight: var(--tn-component-h1-weight);
  margin: 0 0 1em;
}

h2 {
  font-size: var(--tn-component-h2-size);
  font-weight: var(--tn-component-h2-weight);
}

h3 {
  font-size: var(--tn-component-h3-size);
  font-weight: var(--tn-component-h3-weight);
}

h4 {
  font-size: var(--tn-component-h4-size);
  font-weight: var(--tn-component-h4-weight);
}

h5 {
  font-size: var(--tn-component-h5-size);
  font-weight: var(--tn-component-h5-weight);
}

h6 {
  font-size: var(--tn-component-h6-size);
  font-weight: var(--tn-component-h6-weight);
}

/* Handle Sphinx's built-in permalink icon. */
h1 .headerlink,
h2 .headerlink,
h3 .headerlink,
h4 .headerlink,
h5 .headerlink,
h6 .headerlink {
  visibility: hidden;
  text-decoration: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  visibility: visible;
}

/* Highlight key containers for debugging. */
.sb-article {
  border: 1px solid red;
}
.sb-sidebar-secondary {
  border: 1px solid blue;
}
.sb-sidebar-primary {
  border: 1px solid green;
}

/*
 * Content container width.
 * Goal is to have a content width <= 80 characters. These override
 * breakpoint settings from sphinx-basic-ng's skeleton.css
 */
.sb-article-container,
.sb-footer-content__inner,
.drop-secondary-sidebar-for-full-width-content .sb-article,
.drop-secondary-sidebar-for-full-width-content .match-content-width {
  /* reset skeleton.css. Using 100vw means we get horizontal scrollbars. */
  width: auto;
}
@media (min-width: 42rem) {
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 38rem;
  }
  .sb-article,
  .match-content-width {
    width: 38rem;
  }
  h1::after {
    content: ' 42';
  }
}
@media (min-width: 46rem) {
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-article,
  .match-content-width {
    width: 40rem;
  }
  h1::after {
    content: ' 46';
  }
}
@media (min-width: 50rem) {
  /* secondary sidebar appears, width is 17rem. */
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-article,
  .match-content-width {
    width: 40rem;
  }
  h1::after {
    content: ' 50';
  }
}
@media (min-width: 59rem) {
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-article,
  .match-content-width {
    width: 36rem;
  }
  h1::after {
    content: ' 59';
  }
}
@media (min-width: 63rem) {
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-article,
  .match-content-width {
    width: 36rem;
  }
  h1::after {
    content: ' 63';
  }
}
@media (min-width: 67rem) {
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-article,
  .match-content-width {
    width: 40rem;
  }
  h1::after {
    content: ' 67';
  }
}
@media (min-width: 76rem) {
  /* The primary sidebar appears */
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-article,
  .match-content-width {
    width: 32rem;
  }
  h1::after {
    content: ' 76';
  }
}
@media (min-width: 80rem) {
  .sb-article,
  .match-content-width {
    width: 34rem;
  }
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  h1::after {
    content: ' 80';
  }
}
@media (min-width: 84rem) {
  .sb-article,
  .match-content-width {
    width: 40rem;
  }
  h1::after {
    content: ' 84';
  }
}
@media (min-width: 88rem) {
  .sb-footer-content__inner,
  .drop-secondary-sidebar-for-full-width-content .sb-article,
  .drop-secondary-sidebar-for-full-width-content .match-content-width {
    width: 40rem;
  }
  .sb-page-width {
    width: 86rem;
  }
  h1::after {
    content: ' 88';
  }
}

/*
 * Local TOC styling.
 */
.toc-container {
  font-size: 0.9rem;
  line-height: 1.3;
  padding-left: 0;
}

.toc-container ul {
  list-style-type: none;
  padding-left: 0.5rem;
}
.toc-container > ul {
  padding-left: 0;
}
.toc-container li {
  margin-bottom: 0.5rem;
}

/* Hide the first item in the Sphinx toc; which is the H1 of the page itself. */
.toc-container > ul > li:first-child {
  padding-top: 0;
}
.toc-container > ul > li:first-child > ul {
  padding-left: 0;
}
.toc-container > ul > li:first-child > a {
  display: none;
}

.technote-article-header-id {
  font-size: var(--tn-component-h4-size);
  font-weight: bold;
}

.technote-sidebar-section__heading {
  font-size: var(--tn-component-h6-size);
  font-weight: bold;
  color: var(--tn-color-neutral-600);
  margin-bottom: 0;
}

.technote-sidebar-author-list {
  margin-top: var(--tn-space-xs-fixed);
}

/*
 * comma-list makes a ul an inline list with grammatical comma separated
 * items.
 */
.technote-inline-comma-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.technote-inline-comma-list li {
  display: inline;
}

.technote-inline-comma-list li:after {
  content: ', ';
}

.technote-inline-comma-list li:last-child:after {
  content: '';
}

.technote-inline-comma-list li:nth-last-child(2):after {
  content: ' and ';
}

.technote-inline-comma-list li:nth-last-child(3) ~ li:nth-last-child(2):after {
  content: ', and ';
}
