:root {
  /*
   * Spacing values in em units
   */
  --tn-space-unit: 1em;
  --tn-space-xxxs: calc(0.25 * var(--tn-space-unit));
  --tn-space-xxs: calc(0.375 * var(--tn-space-unit));
  --tn-space-xs: calc(0.5 * var(--tn-space-unit));
  --tn-space-sm: calc(0.75 * var(--tn-space-unit));
  --tn-space-md: calc(1.25 * var(--tn-space-unit));
  --tn-space-lg: calc(2 * var(--tn-space-unit));
  --tn-space-xl: calc(3.25 * var(--tn-space-unit));
  --tn-space-xxl: calc(5.25 * var(--tn-space-unit));
  --tn-space-xxxl: calc(8.5 * var(--tn-space-unit));

  /*
    * Fixed spacing
    * These aren't affected by --space-unit or the root font size
    */
  --tn-space-unit-fixed: 1rem;
  --tn-space-xxxs-fixed: calc(0.25 * var(--tn-space-unit-fixed));
  --tn-space-xxs-fixed: calc(0.375 * var(--tn-space-unit-fixed));
  --tn-space-xs-fixed: calc(0.5 * var(--tn-space-unit-fixed));
  --tn-space-sm-fixed: calc(0.75 * var(--tn-space-unit-fixed));
  --tn-space-md-fixed: calc(1.25 * var(--tn-space-unit-fixed));
  --tn-space-lg-fixed: calc(2 * var(--tn-space-unit-fixed));
  --tn-space-xl-fixed: calc(3.25 * var(--tn-space-unit-fixed));
  --tn-space-xxl-fixed: calc(5.25 * var(--tn-space-unit-fixed));
  --tn-space-xxxl-fixed: calc(8.5 * var(--tn-space-unit-fixed));
}
