@use 'theme';

.technote-icon-pair-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/*
 * comma-list makes a ul an inline list with grammatical comma separated
 * items.
 */
.technote-inline-comma-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.technote-inline-comma-list li {
  display: inline;
}

.technote-inline-comma-list li:after {
  content: ', ';
}

.technote-inline-comma-list li:last-child:after {
  content: '';
}

.technote-inline-comma-list li:nth-last-child(2):after {
  content: ' and ';
}

.technote-inline-comma-list li:nth-last-child(3) ~ li:nth-last-child(2):after {
  content: ', and ';
}

/*
 * Hiding class, making content visible only to screen readers but not visually
 * "sr" meaning "screen-reader"
 * https://css-tricks.com/inclusively-hidden/
 */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
